
.service-links li {
    text-decoration: none;
    color: var(--primary-color);
    background-color: white;
    margin: 0.5rem;
    border: 0.05rem solid #6b72804e;
    border-radius: 1rem;
    transition: background-color 0.3s, color 0.3s;
    font-family: "vazir", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    flex-basis: 100%;
    height: 100%;
  }